$break-phone: 320px;
$break-tablet: 720px;
$break-tablet-wide: 1024px;
$break-desktop: 1280px;
$break-large: 1900px;

/*Empty swipe area fixed to left side; eases in and out transition animation*/

#swipe {
  display: block;
  
  @media screen and (min-width: $break-tablet) {
    display: none;
  }
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
  transition: 0.4s ease-in-out;
/*Moves out swipe menu to reveal sidebar */
  &.open-sidebar {
    position: fixed;
    left: 150px;
    z-index: 3;
  }
}


/*Burger menu icon*/

.menu_icon {
  display: inline-block;
  
  @media screen and (min-width: $break-tablet) {
    display: none;
  }
  position: relative;
  width: 30px;
  filter: opacity(70%);
  margin: 5% 0 0 5%;
  z-index: 2;
/*Pointer for burger menu*/
  &:hover {
    cursor: pointer;
  }
}


/*Menu sidebar and top nav*/

#sidebar, #menu_top {
  position: absolute;
  left: -150px;
  width: 150px;
  height: 100%;
  
  @media screen and (min-width: $break-tablet) {
    position: relative;
    top: 0;
    height: 100px;
    width: 100%;
    left: 0;
  }
  @media screen and (min-width: $break-desktop) {
    display: inline-block;
  }

  background-color: steelblue;
  display: inline-block;
/*Remove list bullets*/
  ul {
    list-style: none;
    padding-left: 0;
    
    @media screen and (min-width: $break-tablet) {
      text-align: center;
      padding-top: 5%;
    }
    @media screen and (min-width: $break-tablet-wide) {
      padding-top: 2%;
    }
/*Style menu text/links*/
    li {
      @media screen and (min-width: $break-tablet) {
        width: 200px;
        display: inline-block;
        text-align: center;
        font-size: 18px;
      }
      a {
        color: white;
        padding: 15px 10px;
        display: block;
        border-bottom: 1px solid cadetblue;
        @media screen and (min-width: $break-tablet) {
          border-bottom: none;
        }
        @media screen and (min-width: 800px) {
          padding: 10px;
        }
        text-decoration: none;
      }
/*Hover color over menu text/links*/
      &:hover a {
        background: cadetblue;
      }
    }
  }
}

#two {
  @media screen and (min-width: $break-desktop) {
    display: none !important;
  }
}


/*Search + filter div*/

#sort {
  margin: 5%;

  @media screen and (min-width: $break-tablet) {
    margin: 2%;
    width: 30%;
    display: inline-block !important;
    top: auto;
    position: absolute;
  }
  @media screen and (min-width: $break-desktop) {
    margin: 2%;
    width: 25%;
    display: inline-block !important;
    top: auto;
    position: absolute;
  }
}

/*Search bar*/

#myInput {
  background: url(search.png);
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 90%;
  
  @media screen and (min-width: $break-tablet) {
    width: 100%;
  }
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  display: inline-block;
}

/*Filter menu*/

#filter {
  background-image: url("32x32.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  position: absolute;
  margin: 10px 0 0 6px;
/*Hover style of filter menu*/
  &:hover {
    background-image: url("32x32i.png");
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

/*Dark background when filter menu is opened*/
@mixin z($z) {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $z;
}

#overlay {
  @include z(4);
}

#overlay2 {
  @include z(6);
}

/*Filter menu window*/

#options {
  display: none;
  position: absolute;
  width: 90%;
  height: 60%;
  z-index: 5;
  padding: 5%;
  @media screen and (min-width: $break-tablet) {
    display: inline-block !important;
    position: relative;
    width: 100%;
    height: 60%;
    padding: 5%;
  }
  overflow: auto;
  /* Enable scroll if needed */
  background-color: mediumseagreen;
  #types div {
    display: inline-block;
    @media screen and (min-width: $break-tablet) {
      width: 40%;
    }
    @media screen and (min-width: $break-tablet-wide) {
      width: auto;
    }
  }
}

/*Clear checkboxes button*/

#btn {
  display: block;
  height: 50px;
  margin: 5% auto;
  border-radius: 8px;
  font-weight: 500;
  background-color: #28a745;
  cursor: pointer;
/*Hover style for clear checkboxes*/
  &:hover {
    background-color: #26843b;
  }
/*Active style for clear checkboxes*/
  &:active {
    background-color: #155724;
    transform: translateY(4px);
  }
}



/*Message for clear checkboxes*/

#text {
  text-align: center;
}

#main_list {
  @media screen and (min-width: $break-tablet) {
    width: 65%;
    display: inline-block !important;
    position: absolute;
    right: 1%;
    margin-top: 2%;
  }
  @media screen and (min-width: $break-desktop) {
    width: 40%;
    display: inline-block !important;
    position: absolute;
    right: 28%;
    margin-top: 2%;
  }
}

/*List of recipes*/

.recipe_list {
  /* List of each recipe w/img and name */
  background: #fff;
  margin: 5px;
  @media screen and (min-width: $break-tablet) {
    margin: 0 5px 5px 5px;
  }
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
/*Hover style for recipe lists*/
  &:hover {
    background-color: #d1d2d1;
  }
}


/*Div for recipe list img*/

.imgDiv {
  margin: 2%;
  width: 95px;
}

/*Recipe name in recipe list*/

.h2List {
  font-size: 22px;
  width: 65%;
  vertical-align: middle;
  margin: auto;
}

/*For toggling hide on recipe cards*/

.hide {
  display: none;
}

/*For toggling show on recipe cards*/

.show {
  display: block;
}

/*Recipe card window with content*/

.recipe_view {
  @media screen and (min-width: $break-tablet) {
    width: auto;
    margin: 15%;
    max-width: none;
  }
  @media screen and (min-width: $break-tablet-wide) {
    width: 50%;
    margin-left: 25%;
    max-width: none;
  }
  width: 85%;
  border-radius: 6px;
  max-width: 600px;
  margin: 15% 7.5% 0 7.5%;
  background-color: #17a2b8;
  color: white;
  position: fixed;
  top: 0;
  z-index: 7;
}

/*Div of cooked checkbox*/

.checkDiv {
  /* 'Cooked' with checkbox */
  display: inline-block;
  margin-top: 10px;
  padding-left: 35px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Contains both the default checkbox, the custom checkbox, and the text. */

.container {
  cursor: pointer;
/* Hide standard checkbox */
  input {
    opacity: 0;
  }
}


/* Style the custom checkbox */

.checkmark {
  position: absolute;
  margin-left: -125px;
  margin-top: 5px;
  height: 25px;
  width: 25px;
  background-color: #eee;
/* Create the content to store checkmark/indicator. Hide when not checked. Add to the span checkbmark element. */
 &:after {
    content: "";
    position: absolute;
    display: none;
  }
}


/* Style the checkmark for the custom checkbox. Draw a rectangle and tilt it. Hide some sides to make it look like a checkmark. */

.container {
  .checkmark:after {
    left: 8px;
    top: 3px;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    /* Width of the each side of the 'rectangle' */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* Show the checkmark when checked */
  input:checked ~ .checkmark {
    /* When the default checkbox is checked, change the custom checkbox's background color */
    background-color: #28a745;
    &:after {
      display: block;
    }
  }
}


/* "exit" for recipe card modal, "exit2" refers to filter option modal */

.exit {
  display: inline-block;
  position: absolute;
  right: 10%;
}

#exit, #exit2 {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
 &:hover {
    color: rgba(31, 54, 78, 0.84);
  }
}

/* Filter box "X" closes detailed view; div container */

.exit2 {
  display: inline-block;
  position: absolute;
  right: 5%;
  top: 0;   
  @media screen and (min-width: $break-tablet) {
    display: none;
  }
}

/*Div of recipe card image */

.img {
  margin: 0 2% 0 2%;
}

/*Title in recipe card*/

.titleTxt {
  font-size: 22px;
  width: 145px;
  vertical-align: middle;
  text-align: center;

  @media screen and (min-width: 400px) {
    width: 65%;
    text-align: left;
  }
}

/*Div of stats in recipe cards*/

.statsDiv {
  padding-top: 10px;
/*Spacing for stats*/
}


.heartIcon {
  width: 25px;
}

.effects {
  text-align: center;
}

.effectIcon {
  margin-right: 2px;
  height: 25px;
}

.rupees {
  padding-left: 12px;
  padding-right: 12px;
}

.rupeeIcon {
  height: 25px;
  margin-right: 2px;
}

.ingredients, .description {
  margin: 0 4%;
}

.notes {
  padding: 0 4% 2% 4%;
}

/*Div of badges section*/

#badges {
  text-align: center;
  .menu_icon {
    top: 0;
    display: block;
    @media screen and (min-width: $break-tablet) {
      display: none;
    }
  }
  div {
    text-align: center;
    display: inline-block;
    margin: 5%;
  }
/*Badge images*/
  #meatBadge, #veggieBadge, #fishBadge, #cakeBadge, #foodBadge {
    width: 200px;
    margin-top: 10%;
  }
  @media screen and (min-width: $break-desktop) {
    // display: block !important;
    width: 33%;
    right: 0;
    position: absolute;
    padding-left: 5%;
  }
}


/*Div of created by section in About*/

#createdBy {
  height: 100vh;
  width: 100%;
  background-image: url("botw02.jpg");
  background-position: 75% 0%;
  color: white;
  p {
    font-size: 38px;
    text-align: center;
  }
  .darkBox img {
    width: 50px;
    margin: auto;
    display: block;
  }
}

#twitter a {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  display: block;
}

/*Div of Nintendo BotW section in About*/

#Nintendo {
  height: 100vh;
  width: 100%;
  background-image: url("botw03.jpg");
  background-position: 50% 20%;
  color: white;
  p {
    font-size: 30px;
    text-align: center;
  }
}

/*Div of credits section in About*/

#credits {
  height: 100vh;
  width: 100%;
  background-image: url("botw07.jpg");
  background-position: 50% 50%;
  color: white;
  font-size: 16px;
  div {
    margin-bottom: 5%;
  }
/*Icons in credits*/
  img {
    width: 40px;
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: aquamarine;
  }
}


/*Div of thanks section in About*/

#thanks {
  height: 100vh;
  width: 100%;
  background-image: url("botw09.jpg");
  background-position: 50% 50%;
  color: white;
  text-align: center;
  .darkBox div {
    font-size: 18px;
    a {
      text-decoration: none;
      color: white;
    }
  }
/*Gif of link cooking*/
  img {
    width: 90%;
    padding-top: 15%;
  }
}


/*Bg box for text in About section*/

.darkBox {
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  height: auto;
  position: relative;
  margin: auto;
  top: 5%;
  padding: 3%;
  @media screen and (min-width: $break-tablet) {
    width: 40%;
  }
}